extends layout

block content
    ul.list-group.container.goals
            each goal, i in goals
                li.list-group-item.task
                    h2
                        a(href="/goals/"+goal._id)= goal.title
                    br
                    h4 Goal Progress
                    pre  
                    .meter.nostripes
                        span.progress
                        script.
                            var cp = !{goal.currentProgress};
                            var ga = !{goal.goalAmount};
                            var amount = cp/ga*100;
                            var strAmount = Math.floor(amount).toString() +  "%";
                            document.querySelector('.progress').style.width = strAmount;
                    table.grow
                        tr
                            th Current Progress
                            th Total Goal
                        tr
                            td=goal.currentProgress+' '+goal.units
                            td=goal.goalAmount+' '+goal.units
    #Modal.modal
            .modal-content
                form(method='POST', action='/goals/add')
                    #form-group.flex-container
                        input.selector.noshadow.form-control.txtb(name='start', type='text', placeholder='Start Date (mm/dd/yyyy)' required)
                        input.selector.noshadow.form-control.txtb(name='title', type='text', placeholder='Activity Name' required)
                        input.selector.noshadow.form-control.txtb(name='goalAmount', type='text', placeholder='Goal Amount' required)
                        input.selector.noshadow.form-control.txtb(name='units', type='text', placeholder='Activity Unit\'s' required)
                        //- label.selector.noshadow.form-control.txtb(for='items') Activity Unit's
                        //-     select.selector.noshadow.form-control.txtb#items(required)
                        //-         option.blackText(value='Inches')= "Inches"
                        //-         option.blackText(value='Feet')= "Feet"
                        //-         option.blackText(value='Miles')= "Miles"
                        //-         option.blackText(value='Pounds')= "Pounds"
                        //-         option.blackText(value='Seconds')= "Seconds"
                        //-         option.blackText(value='Minutes')= "Minutes"
                        //-         option.blackText(value='Hours')= "Hours"
                        //-         option.blackText(value='Days')= "Days"
                        //-         option.blackText(value='Weeks')= "Weeks"
                        //-         option.blackText(value='Months')= "Months"
                        //-         option.blackText(value='Years')= "Years"
                        input.selector.noshadow.form-control.txtb(name='submit', type='submit', placeholder='Add Goal')
    center
        button.flex-container.btn.center.openModal.container Add Goal
        br
        //- form(method='POST', action='/logout')   
        //-     button.logout.flex-container.btn.center.openModal.container(name='submit') Log Out
    